/* PARTNERS */
.partners {
  width: 100%;
  background-color: $primary;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 0;
  }

  &__item {
    margin-top: 10px;
  }

  //last element
  &__item:not(:nth-child(10n)) {
    margin-right: 55px;
  }

}